<h1>Here are your lists! </h1>

<% @lists.each do |l| %>

    <div><%= l.name %> -- <%= l.created_at.strftime("%B #{l.created_at.day.ordinalize}, %Y") %></div>

<% end %>

<h2>Make another one!</h2>

<%= form_for @list do |f| %>



    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>